@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#mainhead {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding: 58px;
}

.mainbg {
    background-color: #CE2829;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 100vh;
}

#lezzetyol {
    font-family: 'Satisfy', cursive;
    display: flex;
    justify-content: center;
    color: #FDC913;
    font-weight: 200;
    font-size: 2.3rem;
}

.orderDef {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#ad {
    color: white;
    display: flex;
    justify-content: center;
}

#icerikpizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 3px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin: 50px auto;
}

#icerik2 {
    text-align: center;
    display: flex;
    justify-content: center;
}

#icerik2 h3 {
    font-size: 1.2rem;
    color: white;
    font-family: 'Barlow', sans-serif;
}

#totalorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 3px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin: 50px auto;
    margin-bottom: 50px;
}

#totalorder h3 {
    font-size: 1.2rem;
    color: white;
    font-family: 'Barlow', sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
