@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&display=swap');

h1,
h2,
h3,
p {
    font-family: 'Barlow', sans-serif
}

.siphead {
    background-color: #CE2829;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.sayfas {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "›";
    padding: 0 5px;
}

.breadcrumb-item a {
    color: #6c757d;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: #212529;
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #212529;
}


.itemimg {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: #FAF7F2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#itemad {
    width: 300px;

}

#itemad h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}

#price {
    width: 300px;
}

#price p {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 12px;
}

#productdet {
    width: 500px;
}

#productdet p {
    font-family: 'Barlow', sans-serif;
}

#iia {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.boyham {
    display: flex;
    justify-content: space-between;
}

#hamurk {
    margin-left: 10px;
    /* or any other value you prefer */
}

#malzform {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#txtbut {
    width: 500px;
    background: #FAF7F2;
    border: none;
}



#hamurk {
    border: none;
    font-size: 20px;
    padding: 5px;
    font-family: 'Barlow', sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: #FDC913;
    border: 2px solid #292929;
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
    content: "\2713";
    font-size: 14px;
    color: #292929;
    position: relative;
    left: 6px;
    top: 4px;
    font-weight: bold;
}

input[type="radio"] {
    position: relative;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    width: 18px;
    height: 18px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="radio"]:checked {
    background-color: #FDC913;
    border: 2px solid #FDC913;
}

input[type="radio"]:checked::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #292929;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#malzform label {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 1.2;
}

#sipTop h2 {
    display: flex;
    justify-content: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #292929;
}


#sipTop p {
    display: flex;
    justify-content: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.6;
    color: #292929;
    padding-right: 15px;

}

#Toplamred {
    color: #CE2829;
    display: flex;
    justify-content: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.6;
    padding-right: 15px;
}

#sipcreate {
    display: flex;
    justify-content: end;
}

#sipbu {
    border: 0;
    border-radius: 0;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    font-family: 'Barlow', sans-serif;

}
